.button {
  display: block;
  margin: 0 auto 2vw;
  max-width: 100%;
  padding: 10px 20px;
  border-radius: 13px;
  background-color: #01a896;
  cursor: pointer;
  text-align: center;
}

.button:disabled {
  opacity: 0.5;
}

.button-text {
  color: #ffffff;
  font-family: 'PT Serif';
  font-size: 2.5vw;
}