.footer-get-gifts_green {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url('../../../img/get-gifts_green.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 0 2px;
  background-size: 100% 100%;
}

.footer-get-gifts_white {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  background-image: url('../../../img/get-gifts_white.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 0 2px;
  background-size: 100% 100%;
}

.footer-get-gifts_text {
  cursor: pointer;
  font-family: 'PT Serif';
}

.footer-rules {
  background-color: #ffffff;
  color: #3d352c;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Times New Roman';
}

.footer-content {
  border-radius: 6px;
  background-color: #ffffff;
  opacity: 0.7;
  box-shadow: 0 2px 16px 0 rgba(28, 29, 50, 0.3);
}

.footer-header {
  margin: 0;
  width: 100%;
  text-align: center;
  font-family: 'Annabelle';
  font-weight: normal;
}

.footer-about,
.footer-content_txt {
  font-family: '.SFNSText';
  font-family: 'Times New Roman';
}

.footer-about_more {
  text-align: right;
}

.footer-content_title {
  font-family: '.SFNSText';
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 659px) {
  .footer-get-gifts_green {
    left: 30px;
    height: 13px;
    width: 260px;
  }

  .footer-get-gifts_white {
    width: 240px;
    height: 38px;
    justify-content: center;
  }

  .footer-get-gifts_txt {
    font-size: 14px;
  }

  .footer-rules {
    padding: 30px 15px 105px;
    background-image: url('../../../img/320px/mazok-1@3x.png');
    background-position: 0 30px;
  }

  .footer-content {
    padding: 15px 10px;
    font-size: 10px;
  }

  .footer-about {
    font-size: 8px;
  }

  h2.footer-header {
    font-size: 15px;
    margin-bottom: 30px;
  }

  ._sidemenu .footer-get-gifts_green {
    display: none;
  }

  ._sidemenu .game_footer {
    position: relative;
    top: -39px;
  }

}

@media (min-width: 660px) and (max-width: 1399px) {
  .footer-get-gifts_green {
    left: 181px;
    height: 15px;
    width: 202px;
  }

  .footer-get-gifts_white {
    width: 178px;
    height: 40px;
    justify-content: center;
  }

  .footer-get-gifts_text {
    font-size: 14px;
  }

  .footer-rules {
    padding: 30px 25px 82px;
    font-size: 16px;
    background-image: url('../../../img/660px/mazok-1.png');
    background-position: 0 30px;
  }

  .footer-content {
    padding: 30px 25px;
    font-size: 10px;
  }

  .footer-about {
    font-size: 8px;
  }

  h2.footer-header {
    font-size: 20px;
    margin-bottom: 30px;
  }

}

@media (min-width: 1400px) and (max-width: 1919px) {
  .footer-get-gifts_green {
    left: 394px;
    height: 15px;
    width: 262px;
  }

  .footer-get-gifts_white {
    width: 240px;
    height: 50px;
    justify-content: center;
  }

  .footer-get-gifts_text {
    font-size: 16px;
  }

  .footer-rules {
    padding: 70px 275px 68px;
    font-size: 22px;
    background-image: url('../../../img/1400px/mazok-1.png');
    background-position: 0 70px;
  }

  .footer-content {
    padding: 50px;
    font-size: 15px;
  }

  .footer-about {
    font-size: 10px;
  }

  h2.footer-header {
    font-size: 25px;
    margin-bottom: 50px;
  }
}

@media (min-width: 1920px) {
  .footer-get-gifts_green {
    left: 589px;
    height: 15px;
    width: 262px;
  }

  .footer-get-gifts_white {
    width: 240px;
    height: 50px;
    justify-content: center;
  }

  .footer-get-gifts_text {
    font-size: 18px;
  }

  .footer-rules {
    padding: 70px 535px;
    font-size: 22px;
    background-image: url('../../../img/1920px/mazok-1.png');
    background-position: 0 70px;
  }

  .footer-content {
    padding: 50px;
    font-size: 15px;
  }

  .footer-about {
    font-size: 10px;
  }

  h2.footer-header {
    font-size: 25px;
    margin-bottom: 50px;
  }
}