.game {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.game.page {
/*  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */ 
}

.game_content {
  box-sizing: border-box;
  background-image: url('../../../img/watercolor-big.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-position: 0% 0%;
}

.game_sidebar {
  box-sizing: border-box;
  background-color: #ffffff;
  overflow: hidden;
}

.game_footer{
  position: relative;
  background-color: transparent;
  flex: 1 0 100%;
}

@media (max-width: 659px) {
  .game.page {
    height: 528px;
  }

  .game_content {
    height: 424px;
    flex: 1 0 100%;
    background-image: url('../../../img/watercolor-2.png');
    background-size: 100% 100%;
    background-position: 0 0;
  }

  .game_footer {
    top: -13px;
    width: 320px;
  }

  .game_sidebar {
    display: none;
    width: 100%;
    height: 463px;
    border-right: 15px solid #ffffff;
    border-left: 15px solid #ffffff;
  }

  ._sidemenu .game_sidebar {
    display: block;
    position: relative;
    top: -39px;
  }

  ._sidemenu .game_content {
    display: none;
  }
}

@media (min-width: 660px) and (max-width: 1399px) {
  .game.page {
    height: 476px;
  }

  .game_content {
    height: 376px;
    width: 564px;
    flex-shrink: 0;
    flex-basis: 564px;
    border-top: 10px solid #ffffff;
  }

  .game_sidebar {
    display: block;
    height: 376px;
    width: 86px;
/*    flex-shrink: 0;
    flex-basis: 96px;*/
    border-top: 10px solid #ffffff;
    border-right: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
  }

  .game_sidebar._wide {
    position: absolute;
    display: block;
    width: 275px;
    bottom: 0;
    right: 0;
  }

  .game_footer {
    top: -15px;
    width: 564px;
  }
}

@media (min-width: 1400px) and (max-width: 1919px) {
  .game.page {
    height: 832px;
  }

  .game_content {
    height: 692px;
    width: 1050px;
    flex-shrink: 0;
    flex-basis: 1050px;
    border-top: 10px solid #ffffff;
  }

  .game_sidebar {
    display: block;
    height: 692px;
    width: 350px;
/*    flex-shrink: 0;
    flex-basis: 350px;*/
    border-top: 10px solid #ffffff;
    border-right: 10px solid #ffffff;
    border-left: 10px solid #ffffff;
  }

  .game_footer {
    top: -15px;
    width: 1050px;
  }
}

@media (min-width: 1920px) {
  .game_content {
    height: 940px;
    width: 1440px;
    flex-shrink: 0;
    flex-basis: 1440px;
    border-top: 10px solid #ffffff;
  }

  .game_sidebar {
    display: block;
    height: 940px;
    width: 480px;
/*    flex-shrink: 0;
    flex-basis: 480px;*/
    border-left: 10px solid #ffffff;
    border-top: 10px solid #ffffff;
    border-right: 10px solid #ffffff;
  }

  .game_footer {
    top: -15px;
    width: 1450px;
  }
}