
.header {
  box-sizing: border-box;
  background-color: #01baa7;
  display: inline-flex;
  flex: 1 0 100%;
}

.header-logo{
  display: flex;
  flex-flow: row nowrap;
  box-sizing: border-box;
}

.header-logo_text {
  color: #ffffff;
  text-align: center;
}

.header-logo_life {
  background-color: #ffffff;
}

.header-logo_life-img {
  display: block;
  background-image: url('../../../img/logo-life.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat ;
  background-size: 100% 100%;
}

.header-logo_imeret-triangle {
  pointer-events: none;
}

.header-logo_imeret-img {
  display: block;
  position: relative;
  pointer-events: none;
  z-index: 101;
  background: 50% 10% url('../../../img/logo-imeretenskiy.svg') no-repeat;
}

.header-try {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  box-sizing: border-box;
}

.header-try_cross-button {
  box-sizing: border-box;
  background-image: url('../../../img/cross-button-icon.svg');
  background-size: 100% 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.header-logo_gift {
  display: none;
}

.header-rules {
  color: #ffffff;
  border-bottom: dashed 1px #ffffff;
  font-family: 'PT Serif';
  text-decoration: none;
  cursor: pointer;
}

/* правила для экрана 320px*/
@media (max-width: 659px) {
  .header {
    height: 104px;
    display: flex;
    flex-flow: row wrap;
  }

  .header-logo {
    height: 65px;
    width: 100%;
    padding: 15px 15px 12px;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
  }

  .header-logo_text {
    display: none;
  }

  .header-logo_life {
    width: 27px;
    height: 27px;
    transform: none;
  }

  .header-logo_life-img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: #d0021b;
    background-image: url('../../../img/logo-life_white.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 17px 17px;
  }

  .header-logo_imeret {
    width: 150px;
    height: 38px;
    background-image: url('../../../img/logo-imeretinskiy_small.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .header-logo_imeret-triangle {
    display: none;
  }

  .header-logo_gift {
    display: inline-flex;
    width: 45px;
    height: 45px;
    background-color: transparent;
    background-image: url('../../../img/5@2x.png');
    background-size: 90% 90%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  ._sidemenu .header-logo_gift {
    border-radius: 10px;
    background-color: rgba(1, 168, 150, 0.15);
  }

  .header-try {
    box-sizing: border-box;
    height: 39px;
    padding: 10px 15px;
    align-items: center;
  }

  .header-try_text {
    width: 162px;
    height: 18px;
    padding-right: 11px;
    font-family: 'PT Serif';
    font-size: 14px;
    color: #ffffff;
  }

  .header-try_cross-button {
    display: inline-flex;
    margin-left: 9px;
    width: 26px;
    height: 26px;
  }

  .header-rules{
    display: none;
  }

  ._sidemenu .header-try {
    display: none;
  }
}


/*  правила для экрана 660px */
@media (min-width: 660px) and (max-width: 1399px) {
   .header {
    width: 660px;
    height: 100px;
    background: 0 0 #01baa7 linear-gradient(180deg, transparent 10%, #029483 10%, #00ae9c) no-repeat;
  }

  .header-logo {
    width: 530px;
  }

  .header-logo_text {
    display: none;
  }

  .header-logo_life {
    order: 2;
    width: 115px;
    transform: matrix(1, 0, -1, 1, -35, 0);
  }

  .header-logo_life-img {
    width: 60px;
    height: 24px;
    transform: matrix(1, 0, 1, 1, 25, 38);
  }

  .header-logo_imeret {
    display: flex;
    flex-flow: row wrap;
    order: 1;
    width: 400px;
    background-image: url('../../../img/660px/watercolor-leaves.png');
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 0 0;
    justify-content: center;
  }

  .header-logo_imeret-triangle {
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 150px solid #ffffff;
    z-index: 100;
  }

  .header-logo_imeret-img {
    top: -150px;
    left: -150px;
    width: 300px;
    height: 150px;
    background-size: 129px auto;
  }

  .header-logo_gift {
    display: none;
  }

  .header-try {
    align-self: flex-end;
    width: 140px;
    height: 83px;
  }

  .header-try_text {
    width: 100%;
    height: 18px;
    font-family: 'PT Serif';
    font-size: 14px;
    color: #ffffff;
  }

  .header-try_cross-button {
    display: inline-flex;
    margin-left: 13px;
    width: 26px;
    height: 26px;
  }

  .header-rules {
    height: 18px;
    font-size: 12px;
  }
}


/*  правила для экрана 1400px */
@media (min-width: 1400px) and (max-width: 1919px) {
  .header {
    width: 1400px;
    height: 140px;
    background: 0 0 #01baa7 linear-gradient(180deg, transparent 10%, #029483 10%, #00ae9c) no-repeat;
  }

  .header-logo{
    width: 1084px;
  }

  .header-logo_text {
    order: 1;
    position: relative;
    top: 40px;
    left: 40px;
    width: 248px;
    height: 66px;
    font-family: 'Annabelle', arial;
    font-size: 22px;
  }

  .header-logo_life {
    order: 3;
    width: 238px;
    transform: matrix(1, 0, -1, 1, -35, 0);
  }

  .header-logo_life-img {
    width: 100px;
    height: 40px;
    transform: matrix(1, 0, 1, 1, 70, 50);
  }

  .header-logo_imeret {
    display: flex;
    flex-flow: row wrap;
    order: 2;
    width: 562px;
    background-image: url('../../../img/1400px/watercolor-leaves.png');
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 0 0;
    justify-content: center;
  }

  .header-logo_imeret-triangle {
    width: 0;
    height: 0;
    border-left: 211px solid transparent;
    border-right: 211px solid transparent;
    border-top: 211px solid #ffffff;
    z-index: 100;
  }

  .header-logo_imeret-img {
    top: -211px;
    left: -211px;
    width: 425px;
    height: 211px;
    background-size: 179px auto;
  }

  .header-logo_gift {
    display: none;
  }

  .header-try {
    display: flex;
    align-self: flex-end;
    padding-left: 15px;
    width: 330px;
    height: 105px;
  }

  .header-try_text {
    display: block;
    width: 100%;
    height: 23px;
    font-family: 'PT Serif';
    font-size: 18px;
    color: #ffffff;
  }

  .header-try_cross-button {
    display: inline-flex;
    margin-left: 18px;
    width: 30px;
    height: 30px;
  }

  .header-rules {
    position: absolute;
    right: 15px;
    height: 20px;
    font-size: 16px;
  }
}


/*  правила для экрана 1920px */
@media (min-width: 1920px) {
  .header {
    height: 140px;
    width: 1920px;
    background: 0 0 #01baa7 linear-gradient(180deg, transparent 10%, #029483 10%, #00ae9c) no-repeat;
  }

  .header-logo {
    width: 1412px;
  }

  .header-logo_text {
    order: 1;
    position: relative;
    top: 37px;
    left: 105px;
    padding-right: 100px;
    width: 315px;
    height: 76px;
    font-family: 'Annabelle', arial;
    font-size: 24px;
  }

  .header-logo_life {
    order: 2;
    width: 248px;
    transform: matrix(1, 0, -1, 1, 65, 0);
  }

  .header-logo_life-img {
    width: 100px;
    height: 40px;
    transform: matrix(1, 0, 1, 1, 80, 50);
  }

  .header-logo_imeret {
    display: flex;
    flex-flow: row wrap;
    order: 1;
    width: 608px;
    background-image: url('../../../img/1920px/watercolor-leaves.png');
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 0 0;
    justify-content: center;
  }

  .header-logo_imeret-triangle {
    width: 0;
    height: 0;
    border-left: 230px solid transparent;
    border-right: 230px solid transparent;
    border-top: 230px solid #ffffff;
    z-index: 100;
  }

  .header-logo_imeret-img {
    top: -230px;
    left: -230px;
    width: 460px;
    height: 230px;
    background-size: 193px auto;
  }

  .header-logo_gift {
    display: none;
  }

  .header-try {
    display: flex;
    align-self: flex-end;
    padding-left: 50px;
    width: 515px;
    height: 110px;
  }

  .header-try_text {
    display: block;
    width: 100%;
    height: 23px;
    font-family: 'PT Serif';
    font-size: 18px;
    color: #ffffff;
  }

  .header-try_cross-button {
    display: inline-flex;
    margin-left: 18px;
    width: 30px;
    height: 30px;
  }

  .header-rules {
    position: relative;
    top: -49px;
    left: 182px;
    height: 20px;
    font-size: 16px;
  }
}
