
@font-face {
  font-family: 'Annabelle';
  src: url('../../../fonts/Annabelle/Annabelle.eot?#iefix') format('embedded-opentype'),
       url('../../../fonts/Annabelle/Annabelle.woff') format('woff'),
       url('../../../fonts/Annabelle/Annabelle.ttf')  format('truetype'),
       url('../../../fonts/Annabelle/Annabelle.svg#Annabelle') format('svg');
  font-weight: normal;
  font-style: normal;
}

