.page {
  display: flex;
  position: relative;
  margin: auto;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 320px;
}

@media (max-width: 659px) {
  .page {
    width: 320px;
    height: 568px;
  }
}

@media (min-width: 660px) and (max-width: 1399px) {
  .page {
    width: 660px;
    height: 1080px;
  }
}

@media (min-width: 1400px) and (max-width: 1919px) {
  .page {
    width: 1400px;
    height: 1080px;
  }
}

@media (min-width: 1920px) {
  .page {
    width: 1920px;
    height: 1080px;
  }
}