.playing-cards {
  display: inline-flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
  perspective: 1000px;
}

.playing-card {
  box-sizing: border-box;
  display: inline-block;
  transition-property: transform;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  object-fit: contain;
}

.playing-card:hover {
  border-radius: 12px;
  box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.49);
  border-style: none;
}

.playing-card:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 659px) {
  .playing-card {
    width: 64px;
    height: 70.6px;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
  }

  .playing-card:nth-child(-n+6),
  .playing-card:nth-child(n+25),
  .playing-card:nth-child(6n),
  .playing-card:nth-child(6n + 1) {
    border: 0.5px solid rgba(255, 255, 255, 0.5);
  }

  .playing-card:nth-child(5n + 1) {
    border-left: none;
  }

  .playing-card:nth-child(-n+5) {
    border-top: none;
  }

  .playing-card:nth-child(5n) {
    border-right: none;
  }

  .playing-card:nth-child(n+26) {
    border-bottom: none;
  }

  .playing-card:hover {
    transform: perspective(200px) translate3d(0, -7px, 10px);
    border-style: none;
  }

  .no-tries .playing-card:hover {
    transform: none;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    box-shadow: none;
    border-radius: 0;
    border-style: solid;
  }

  .no-tries .playing-card:nth-child(5n + 1) {
    border-left: none;
  }

  .no-tries .playing-card:nth-child(-n+5) {
    border-top: none;
  }

  .no-tries .playing-card:nth-child(5n) {
    border-right: none;
  }

  .no-tries .playing-card:nth-child(n+26) {
    border-bottom: none;
  }

  .playing-card._one {
    background-image: url('../../../img/320px/group-2-copy-0.png');
  }
  .playing-card._two {
    background-image: url('../../../img/320px/group-2-copy-1.png');
  }
  .playing-card._three {
    background-image: url('../../../img/320px/group-2-copy-2.png');
  }
  .playing-card._four {
    background-image: url('../../../img/320px/group-2-copy-3.png');
  }
  .playing-card._five {
    background-image: url('../../../img/320px/group-2-copy-4.png');
  }
  .playing-card._six {
    background-image: url('../../../img/320px/group-2-copy-9.png');
  }
  .playing-card._seven {
    background-image: url('../../../img/320px/group-2-copy-8.png');
  }
  .playing-card._eight {
    background-image: url('../../../img/320px/group-2-copy-7.png');
  }
  .playing-card._nine {
    background-image: url('../../../img/320px/group-2-copy-6.png');
  }
  .playing-card._ten {
    background-image: url('../../../img/320px/group-2-copy-5.png');
  }
  .playing-card._eleven {
    background-image: url('../../../img/320px/group-2-copy-14.png');
  }
  .playing-card._twelve {
    background-image: url('../../../img/320px/group-2-copy-13.png');
  }
  .playing-card._thirteen {
    background-image: url('../../../img/320px/group-2-copy-12.png');
  }
  .playing-card._fourteen {
    background-image: url('../../../img/320px/group-2-copy-11.png');
  }
  .playing-card._fifteen {
    background-image: url('../../../img/320px/group-2-copy-10.png');
  }
  .playing-card._sixteen {
    background-image: url('../../../img/320px/group-2-copy-19.png');
  }
  .playing-card._seventeen {
    background-image: url('../../../img/320px/group-2-copy-18.png');
  }
  .playing-card._eighteen {
    background-image: url('../../../img/320px/group-2-copy-17.png');
  }
  .playing-card._nineteen {
    background-image: url('../../../img/320px/group-2-copy-16.png');
  }
  .playing-card._twenty {
    background-image: url('../../../img/320px/group-2-copy-15.png');
  }
  .playing-card._twenty-one {
    background-image: url('../../../img/320px/group-2-copy-24.png');
  }
  .playing-card._twenty-two {
    background-image: url('../../../img/320px/group-2-copy-23.png');
  }
  .playing-card._twenty-three {
    background-image: url('../../../img/320px/group-2-copy-22.png');
  }
  .playing-card._twenty-four {
    background-image: url('../../../img/320px/group-2-copy-21.png');
  }
  .playing-card._twenty-five {
    background-image: url('../../../img/320px/group-2-copy-20.png');
  }
  .playing-card._twenty-six {
    background-image: url('../../../img/320px/group-2-copy-29.png');
  }
  .playing-card._twenty-seven {
    background-image: url('../../../img/320px/group-2-copy-28.png');
  }
  .playing-card._twenty-eight {
    background-image: url('../../../img/320px/group-2-copy-27.png');
  }
  .playing-card._twenty-nine {
    background-image: url('../../../img/320px/group-2-copy-26.png');
  }
  .playing-card._thirty {
    background-image: url('../../../img/320px/group-2-copy-25.png');
  }
}

@media (min-width: 660px) and (max-width: 1399px) {
  .playing-card {
    width: 94px;
    height: 73.2px;
  }

  .playing-card:hover {
    transform: translateY(-5px);
  }

  .no-tries .playing-card:hover {
    transform: none;
    box-shadow: none;
    border-radius: 0;
    border-style: solid;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
  }

  .playing-card._one {
    background-image: url('../../../img/660px/1.png');
  }
  .playing-card._two {
    background-image: url('../../../img/660px/2.png');
  }
  .playing-card._three {
    background-image: url('../../../img/660px/3.png');
  }
  .playing-card._four {
    background-image: url('../../../img/660px/4.png');
  }
  .playing-card._five {
    background-image: url('../../../img/660px/5.png');
  }
  .playing-card._six {
    background-image: url('../../../img/660px/6.png');
  }
  .playing-card._seven {
    background-image: url('../../../img/660px/7.png');
  }
  .playing-card._eight {
    background-image: url('../../../img/660px/8.png');
  }
  .playing-card._nine {
    background-image: url('../../../img/660px/9.png');
  }
  .playing-card._ten {
    background-image: url('../../../img/660px/10.png');
  }
  .playing-card._eleven {
    background-image: url('../../../img/660px/11.png');
  }
  .playing-card._twelve {
    background-image: url('../../../img/660px/12.png');
  }
  .playing-card._thirteen {
    background-image: url('../../../img/660px/13.png');
  }
  .playing-card._fourteen {
    background-image: url('../../../img/660px/14.png');
  }
  .playing-card._fifteen {
    background-image: url('../../../img/660px/15.png');
  }
  .playing-card._sixteen {
    background-image: url('../../../img/660px/16.png');
  }
  .playing-card._seventeen {
    background-image: url('../../../img/660px/17.png');
  }
  .playing-card._eighteen {
    background-image: url('../../../img/660px/18.png');
  }
  .playing-card._nineteen {
    background-image: url('../../../img/660px/19.png');
  }
  .playing-card._twenty {
    background-image: url('../../../img/660px/20.png');
  }
  .playing-card._twenty-one {
    background-image: url('../../../img/660px/21.png');
  }
  .playing-card._twenty-two {
    background-image: url('../../../img/660px/22.png');
  }
  .playing-card._twenty-three {
    background-image: url('../../../img/660px/23.png');
  }
  .playing-card._twenty-four {
    background-image: url('../../../img/660px/24.png');
  }
  .playing-card._twenty-five {
    background-image: url('../../../img/660px/25.png');
  }
  .playing-card._twenty-six {
    background-image: url('../../../img/660px/26.png');
  }
  .playing-card._twenty-seven {
    background-image: url('../../../img/660px/27.png');
  }
  .playing-card._twenty-eight {
    background-image: url('../../../img/660px/28.png');
  }
  .playing-card._twenty-nine {
    background-image: url('../../../img/660px/29.png');
  }
  .playing-card._thirty {
    background-image: url('../../../img/660px/30.png');
  }
}

@media (min-width: 1400px) and (max-width: 1919px) {
  .playing-card {
    width: 175px;
    height: 136.4px;
  }

  .playing-card:hover {
    transform: translateY(-5px);
  }

  .no-tries .playing-card:hover {
    transform: none;
    box-shadow: none;
    border-radius: 0;
    border-style: solid;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
  }

  .playing-card._one {
    background-image: url('../../../img/1400px/1.png');
  }
  .playing-card._two {
    background-image: url('../../../img/1400px/2.png');
  }
  .playing-card._three {
    background-image: url('../../../img/1400px/3.png');
  }
  .playing-card._four {
    background-image: url('../../../img/1400px/4.png');
  }
  .playing-card._five {
    background-image: url('../../../img/1400px/5.png');
  }
  .playing-card._six {
    background-image: url('../../../img/1400px/6.png');
  }
  .playing-card._seven {
    background-image: url('../../../img/1400px/7.png');
  }
  .playing-card._eight {
    background-image: url('../../../img/1400px/8.png');
  }
  .playing-card._nine {
    background-image: url('../../../img/1400px/9.png');
  }
  .playing-card._ten {
    background-image: url('../../../img/1400px/10.png');
  }
  .playing-card._eleven {
    background-image: url('../../../img/1400px/11.png');
  }
  .playing-card._twelve {
    background-image: url('../../../img/1400px/12.png');
  }
  .playing-card._thirteen {
    background-image: url('../../../img/1400px/13.png');
  }
  .playing-card._fourteen {
    background-image: url('../../../img/1400px/14.png');
  }
  .playing-card._fifteen {
    background-image: url('../../../img/1400px/15.png');
  }
  .playing-card._sixteen {
    background-image: url('../../../img/1400px/16.png');
  }
  .playing-card._seventeen {
    background-image: url('../../../img/1400px/17.png');
  }
  .playing-card._eighteen {
    background-image: url('../../../img/1400px/18.png');
  }
  .playing-card._nineteen {
    background-image: url('../../../img/1400px/19.png');
  }
  .playing-card._twenty {
    background-image: url('../../../img/1400px/20.png');
  }
  .playing-card._twenty-one {
    background-image: url('../../../img/1400px/21.png');
  }
  .playing-card._twenty-two {
    background-image: url('../../../img/1400px/22.png');
  }
  .playing-card._twenty-three {
    background-image: url('../../../img/1400px/23.png');
  }
  .playing-card._twenty-four {
    background-image: url('../../../img/1400px/24.png');
  }
  .playing-card._twenty-five {
    background-image: url('../../../img/1400px/25.png');
  }
  .playing-card._twenty-six {
    background-image: url('../../../img/1400px/26.png');
  }
  .playing-card._twenty-seven {
    background-image: url('../../../img/1400px/27.png');
  }
  .playing-card._twenty-eight {
    background-image: url('../../../img/1400px/28.png');
  }
  .playing-card._twenty-nine {
    background-image: url('../../../img/1400px/29.png');
  }
  .playing-card._thirty {
    background-image: url('../../../img/1400px/30.png');
  }
}

@media (min-width: 1920px) {
  .playing-card {
    width: 240px;
    height: 186px;
  }

  .playing-card:hover {
    transform: translateY(-5px);
  }

  .no-tries .playing-card:hover {
    transform: none;
    box-shadow: none;
    border-radius: 0;
    border-style: solid;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
  }

  .playing-card._one {
    background-image: url('../../../img/1920px/1.png');
  }
  .playing-card._two {
    background-image: url('../../../img/1920px/2.png');
  }
  .playing-card._three {
    background-image: url('../../../img/1920px/3.png');
  }
  .playing-card._four {
    background-image: url('../../../img/1920px/4.png');
  }
  .playing-card._five {
    background-image: url('../../../img/1920px/5.png');
  }
  .playing-card._six {
    background-image: url('../../../img/1920px/6.png');
  }
  .playing-card._seven {
    background-image: url('../../../img/1920px/7.png');
  }
  .playing-card._eight {
    background-image: url('../../../img/1920px/8.png');
  }
  .playing-card._nine {
    background-image: url('../../../img/1920px/9.png');
  }
  .playing-card._ten {
    background-image: url('../../../img/1920px/10.png');
  }
  .playing-card._eleven {
    background-image: url('../../../img/1920px/11.png');
  }
  .playing-card._twelve {
    background-image: url('../../../img/1920px/12.png');
  }
  .playing-card._thirteen {
    background-image: url('../../../img/1920px/13.png');
  }
  .playing-card._fourteen {
    background-image: url('../../../img/1920px/14.png');
  }
  .playing-card._fifteen {
    background-image: url('../../../img/1920px/15.png');
  }
  .playing-card._sixteen {
    background-image: url('../../../img/1920px/16.png');
  }
  .playing-card._seventeen {
    background-image: url('../../../img/1920px/17.png');
  }
  .playing-card._eighteen {
    background-image: url('../../../img/1920px/18.png');
  }
  .playing-card._nineteen {
    background-image: url('../../../img/1920px/19.png');
  }
  .playing-card._twenty {
    background-image: url('../../../img/1920px/20.png');
  }
  .playing-card._twenty-one {
    background-image: url('../../../img/1920px/21.png');
  }
  .playing-card._twenty-two {
    background-image: url('../../../img/1920px/22.png');
  }
  .playing-card._twenty-three {
    background-image: url('../../../img/1920px/23.png');
  }
  .playing-card._twenty-four {
    background-image: url('../../../img/1920px/24.png');
  }
  .playing-card._twenty-five {
    background-image: url('../../../img/1920px/25.png');
  }
  .playing-card._twenty-six {
    background-image: url('../../../img/1920px/26.png');
  }
  .playing-card._twenty-seven {
    background-image: url('../../../img/1920px/27.png');
  }
  .playing-card._twenty-eight {
    background-image: url('../../../img/1920px/28.png');
  }
  .playing-card._twenty-nine {
    background-image: url('../../../img/1920px/29.png');
  }
  .playing-card._thirty {
    background-image: url('../../../img/1920px/30.png');
  }
}

._wasted.playing-card {
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.49);
  box-shadow: inset 0 0 24px 0 rgba(0, 0, 0, 0.5);
  border-style: none;
  transform: translateY(0px) rotateY(0deg);
  backface-visibility: hidden;
}

._wasted.playing-card:after{
  content: '';
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  z-index: 2;
}

.playing-card.icon {
  background-image: url('../../../img/gifts/no-gift.svg');
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.playing-card.gift-1 {
  background-image: url('../../../img/gifts/-1.png');
}

.playing-card.gift-2 {
  background-image: url('../../../img/gifts/-2.png');
}

.playing-card.gift-3 {
  background-image: url('../../../img/gifts/-3.png');
}

.playing-card.gift-4 {
  background-image: url('../../../img/gifts/-4.png');
}

.playing-card.gift1 {
  background-image: url('../../../img/gifts/1.png');
}

.playing-card.gift2 {
  background-image: url('../../../img/gifts/2.png');
}

.playing-card.gift3 {
  background-image: url('../../../img/gifts/3.png');
}

.playing-card.gift4 {
  background-image: url('../../../img/gifts/4.png');
}

.playing-card.gift5 {
  background-image: url('../../../img/gifts/5.png');
}

.playing-card.gift6 {
  background-image: url('../../../img/gifts/6.png');
}

.playing-card.gift7 {
  background-image: url('../../../img/gifts/7.png');
}

.playing-card.gift8 {
  background-image: url('../../../img/gifts/8.png');
}

.playing-card.gift9 {
  background-image: url('../../../img/gifts/9.png');
}