.popup._no-active{
  display: none;
}

.popup {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transform: translate3d(0,0,11px);
}

.popup-overlay {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 101;
}

.popup-inner {
  display: flex;
  max-width: 60%;
  padding: 4% 8%;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 13px;
  box-shadow: 0 2px 16px 0 rgba(28, 29, 50, 0.3);
  z-index: 102;
}

.popup-header {
  display: block;
  margin-bottom: 3vw;
  font-family: 'PT Serif';
  font-size: 3.3vw;
  color: #01a896;
  text-align: center;
}

.popup-content {
  display: block;
  margin-bottom: 2vw;
  font-family: 'PT Serif';
  font-size: 1.5vw;
  color: #3d352c;
  text-align: center;
}

.popup-contact {
  display: block;
  margin-bottom: 2vw;
  font-family: 'PT Serif';
  font-size: 1.7vw;
  color: #3d352c;
  text-align: center;
}

.popup-info {
  display: block;
  margin-bottom: 1.5vw;
  font-family: 'PT Serif';
  font-size: 1.2vw;
  color: #3d352c;
  text-align: left;
}

.popup-close {
  text-align: right;
  color: rgba(0,0,0,0.7);
  text-transform: uppercase;
  font-size: 1vw;
  cursor: pointer;
  position: absolute;
  top: -20px;
  right: -40px;
}

@media (max-width: 1023px) {
  .popup-inner {
    max-width: 80% !important;
  }

  .popup-info {
    font-size: 1.3vw;
  }

  .popup-content {
    font-size: 2.5vw;
  }

  .popup-close {
    text-align: right;
    color: rgba(0,0,0,0.7);
    text-transform: uppercase;
    font-size: 1.5vw;
  }

}