.sidebar-content {
  box-sizing: border-box;
  width: 100%;
  border-right: solid 1px #ebebeb;
  border-top: solid 1px #ebebeb;
  border-left: solid 1px #ebebeb;
}

.sidebar-content_header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../img/1920px/main-gifts.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center;
  font-family: 'Annabelle';
  color: #ffffff;
  cursor: pointer;
  text-shadow: 0 2px 16px rgba(0, 0, 0, 0.5);
}

.sidebar-content_gifts-list {
  display: block;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

.sidebar-content_gift-item {
  display: table;
  font-size: 0;
}

.sidebar-contnet_gift-item:last-child {
  margin-bottom: none;
}

.sidebar-content_gift-icon {
  display: inline-block;
  height: 100%;
}

.sidebar-content_gift {
  display: block;
  height: 100%;
  background-size: 100% 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.sidebar-content_gift-text {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  font-family: 'PT Serif';
  color: #3d352c;
}

.sidebar-content_gift-text-alt {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  font-family: 'PT Serif';
  color: #3d352c;
}

.gift-1 {
  background-image: url('../../../img/gifts/-1.png');
}

.gift-2 {
  background-image: url('../../../img/gifts/-2.png');
}

.gift-3 {
  background-image: url('../../../img/gifts/-3.png');
}

.gift-4 {
  background-image: url('../../../img/gifts/-4.png');
}

.gift-5 {
  background-image: url('../../../img/gifts/1.png');
}

.gift-6 {
  background-image: url('../../../img/gifts/2.png');
}

.gift-7 {
  background-image: url('../../../img/gifts/3.png');
}

.gift-8 {
  background-image: url('../../../img/gifts/4.png');
}

.gift-9 {
  background-image: url('../../../img/gifts/5.png');
}

.gift-10 {
  background-image: url('../../../img/gifts/6.png');
}

.gift-11 {
  background-image: url('../../../img/gifts/7.png');
}

.gift-12 {
  background-image: url('../../../img/gifts/8.png');
}

.gift-13 {
  background-image: url('../../../img/gifts/9.png');
}

.sidebar-content_rules {
  display: none;
}

@media (max-width: 659px) {
  .game_sidebar:after {
    height: 423px;
  }

  .sidebar-content_header {
    height: 47px;
    font-size: 24px;
    background-size: 50% 100%;
  }

  .sidebar-content {
    height: 423px;
  }

  .sidebar-content_gift-item {
    margin-bottom: 10px;
    height: 80px;
  }

  .sidebar-content_gift-icon {
    width: 80px;
  }

  .sidebar-content_gifts-list {
    height: 376px;
  }

  .sidebar-content_gift-text {
    font-size: 14px;
    width: 180px;
  }

  .sidebar-content_gift-text-alt {
    font-size: 14px;
    width: 180px;
  }

  .sidebar-content_rules {
    display: block;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'PT Serif';
  }

  .sidebar-content_rules:hover {
    cursor: pointer;
  }

  .sidebar-content_rules a{
    display: inline-block;
    color: #3d352c;
    font-size: 14px;
    text-decoration: none;
    border-bottom: dashed 1px #3d352c;
  }
}

/*  правила для экрана 660px */
@media (min-width: 660px) and (max-width: 1399px) {
  .game_sidebar:after {
    height: 326px;
  }

  .sidebar-content_header {
    height: 47px;
    font-size: 20px;
  }

  .sidebar-content {
    height: 326px;
  }

  .sidebar-content_gift-item {
    margin-bottom: 10px;
    height: 80px;
  }

  .sidebar-content_gift-icon {
    width: 80px;
  }

  .sidebar-content_gifts-list {
    height: 279px;
  }

  .sidebar-content_gift-text {
    font-size: 14px;
    width: 180px;
    display: none;
  }

  .sidebar-content_gift-text-alt {
    font-size: 14px;
    width: 180px;
  }

  .sidebar-content_gift-text-alt {
    font-size: 14px;
    width: 180px;
  }

  ._wide .sidebar-content_gift-text {
    display: table-cell;
  }

  ._wide .sidebar-content_gift-text-alt {
    display: table-cell;
  }

  ._wide .sidebar-content_header {
    background-size: 50% 100%;
  }
}

/*  правила для экрана 1400px */
@media (min-width: 1400px) and (max-width: 1919px) {
  .game_sidebar:after {
    height: 632px;
  }

  .sidebar-content {
    height: 632px;
  }

  .sidebar-content_header {
    height: 105px;
    font-size: 32px;
  }

  .sidebar-content_gift-item {
    margin-bottom: 20px;
    height: 100px;
  }

  .sidebar-content_gift-icon {
    width: 100px;
  }

  .sidebar-content_gifts-list {
    height: 527px;
  }

  .sidebar-content_gift-text {
    font-size: 16px;
    width: 180px;
  }
  .sidebar-content_gift-text-alt {
    font-size: 16px;
    width: 180px;
  }
}

/*  правила для экрана 1920px */
@media (min-width: 1920px) {
  .game_sidebar:after {
    height: 880px;
  }

  .sidebar-content {
    height: 880px;
  }

  .sidebar-content_header {
    height: 135px;
    font-size: 40px;
    background-image: url('../../../img/1920px/main-gifts@2x.png');
  }

  .sidebar-content_gift-item {
    margin-bottom: 20px;
    height: 120px;
  }

  .sidebar-content_gift-icon {
    width: 120px;
    
  }

  .sidebar-content_gifts-list {
    height: 745px;
  }

  .sidebar-content_gift-text {
    font-size: 18px;
    width: 275px;
  }

  .sidebar-content_gift-text-alt {
    font-size: 18px;
    width: 275px;
  }  
}
