.game_sidebar:after {
  content: '';
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  top: -100%;
  background: linear-gradient(180deg, rgba(256, 256, 256, 0) 90%, #ffffff);
  pointer-events: none;
  z-index: 10;
}

.sidebar-down {
  cursor: pointer;
  position: relative;
  display: inline-flex;
  bottom: 0;
  width: 200%;
  font-size: 0;
  overflow: hidden;
  transition-property: transform;
  transition-duration: 1s;
}

.sidebar-down_show-gifts {
  display: inline-block;
  box-sizing: border-box;
  border-right: 1px solid #ffffff;
  background-color: #01baa7;
  height: 100%;
  color: #ffffff;
  font-family: 'PT Serif';
  text-align: center;
}

.sidebar-down_show-gifts:after {
  content: 'Показать мои призы';
}

.sidebar-down_share {
  display: inline-flex;
  height: 100%;
  background-color: #60b1c4;
}

.sidebar-down_arrow {
  display: inline-block;
  height: 100%;
  background-image: url(../../../img/icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.sidebar-down_social {
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  border-left: solid 1px #ffffff;
}

.sidebar-down_social-items {
  display: inline-flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 10%;
  justify-content: space-between;
  align-items: center;
}

.sidebar-down_social-item {
  display: inline-block;
  height: 40%;
  width: 10%;
}

.social-item {
  display: block;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
}

._vk {
  background-image: url('../../../img/social/vk-red.svg');
}

._tw {
  background-image: url('../../../img/social/twi-red.svg');
}

._fb {
  background-image: url('../../../img/social/fb-red.svg');
}

._ok {
  background-image: url('../../../img/social/ok-red.svg');
}

/* правила для экрана 320px*/
@media (max-width: 659px) {
  .sidebar-down {
    height: 40px;

  }

  .sidebar-down._show-social{
    transform: translateX(-250px);
  }

  .sidebar-down_show-gifts {
    width: 250px;
    font-size: 16px;
    line-height: 225%;
  }

  .sidebar-down_share {
    width: 330px;
  }

  .sidebar-down_arrow {
    width: 40px;
    background-size: 22px 18px;
  }

  .sidebar-down_social {
    width: 250px;
  }
}

/*  правила для экрана 660px */
@media (min-width: 660px) and (max-width: 1399px) {
  .sidebar-down {
    height: 40px;
    width: 86px;
    transition: none;
  }

  .sidebar-down:hover {
    transform: none;
  }

  .sidebar-down_show-gifts {
    width: 100%;
    font-size: 12px;
    line-height: 320%;
  }

  .sidebar-down_show-gifts:after {
    content: 'Мои призы'; 
  }

  .sidebar-down_share {
    width: 315px;
    display: none;
  }

  .sidebar-down_arrow {
    width: 40px;
    background-size: 22px 18px;
  }

  ._wide .sidebar-down {
    width: 200%;
    transition-property: transform;
    transition-duration: 1s;
  }

  ._wide .sidebar-down._show-social {
    transform: translateX(-227px);
  }

  ._wide .sidebar-down_show-gifts:after{
    content: 'Показать мои призы';
  }

  ._wide .sidebar-down_show-gifts {
    width: 235px;
  }

  ._wide .sidebar-down_share {
    display: inline-flex;
  }

  ._wide .sidebar-down_social {
    width: 227px;
  }
}

/*  правила для экрана 1400px */
@media (min-width: 1400px) and (max-width: 1919px) {
  .sidebar-down {
    height: 50px;
  }

  .sidebar-down._show-social {
    transform: translateX(-280px);
  }

  .sidebar-down_show-gifts {
    width: 280px;
    font-size: 18px;
    line-height: 260%;
  }

  .sidebar-down_share {
    width: 380px;
  }

  .sidebar-down_arrow {
    width: 50px;
  }

  .sidebar-down_social {
    width: 280px;
  }
}

/*  правила для экрана 1920px */
@media (min-width: 1920px) {
  .sidebar-down {
    height: 50px;
  }

  .sidebar-down._show-social {
    transform: translateX(-410px);
  }

  .sidebar-down_show-gifts {
    width: 410px;
    font-size: 20px;
    line-height: 260%;
  }

  .sidebar-down_share {
    width: 510px;
  }

  .sidebar-down_arrow {
    width: 50px;
  }

  .sidebar-down_social {
    width: 410px;
  }
}
