.page.start {
  display: block;
  background-color: #ffffff;
  background-image: url('../../../img/watercolor-big.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.start-flag {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  background-image: url('../../../img/1920px/flag.svg');
  background-size: 100% 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

.start-logo {
  display: block;
  width: 80%;
  height: 36%;
  background-image: url('../../../img/logo-imeretenskiy.svg');
  background-size: 100% 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.start-button {
  display: inline-flex;
  width: 80%;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.start-line {
  display: inline-block;
  height: 1px;
  background-color: #3d352c;
  width: 22%;
}

.start-play {
  font-family: 'Garamond';
  color: #3d352c;
  font-size: 22px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.start-play:hover {
  cursor: pointer; 
}

@media (max-width: 659px) {
  .page.start {
    background-image: url('../../../img/watercolor-2.png');
  }
}


@media (max-width: 1399px) {
  .start-flag {
    width: 84%;
    height: 67%;
    max-width: 410px;
  }

  .start-button {
    bottom: -10%;
  }

  .start-line {
    width: 20%;
  }

}

@media (min-width: 1400px) {
  .start-flag {
    width: 33%;
    height: 78%;
    background-position: 0 0;
    background-size: 100% 100%;
  }

  .start-button {
    bottom: -5%;
  }

  .start-line {
    width: 20%;
    height: 0.2vh;
  }
}
