.try-items {
  display: flex;
  flex: row nowrap;
  justify-content: space-between;
}

.try-item {
  box-sizing: border-box;
  background-color: transparent;
  background-image: url('../../../img/try-active-icon.svg');
  background-size: auto;
  background-repeat: no-repeat;
}

.try-item._waste {
  background-image: url('../../../img/try-wasted-icon.svg');
}

@media (max-width: 1399px) {
  .try-items {
    display: inline-flex;
    width: 82px;
  }

  .try-item {
    width: 26px;
    height: 26px;
    background-position: -10px -10px;
  }  
}

@media (min-width: 1400px) {
  .try-items {
    display: inline-flex;
    width: 100px;
  }

  .try-item {
    width: 30px;
    height: 30px;
    background-position: -10px -10px;
    background-size: 170% 170%;
  } 
}